{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid py-4 bg-dark"> 
    <h2 class="page-header mb-5 text-center text-white">{{ post.title }}</h2>
    <div class=" mx-auto col-sm-12 col-md-8 bg-white rounded p-3 my-3">
        <h4 class="font-weight-bold">Description</h4>
        <p class="mb-0">{{ post.description }}</p>
         <hr class="my-2">  
        <p class="mb-0">
            <strong>Opening Date</strong>
            {{ post.openingdate|date('F j, Y, g:i a') }}
         </p>
         <hr class="my-2">  
        <p class="mb-0">
            <strong>Closing Date</strong>
            {{ post.closingdate|date('F j, Y, g:i a') }}
         </p>
         <hr class="my-2">  
        <p class="mb-0">
            <strong>Result Date</strong>
            {{ post.resultdate|date('F j, Y, g:i a') }}
         </p>
        <hr class="my-2">  
        <p class="mb-0">
            <strong>Quantity</strong>
            {{ post.quantity }}
         </p>
         <hr class="my-2">  
        <p class="mb-0">
            <strong>Minimum Price</strong>
            {{ post.minprice }}
         </p>
         <hr class="my-2">  
        <p class="mb-0">
            <strong>Maximum Price</strong>
            {{ post.maxprice }}
         </p>
         <hr class="mt-1 mb-2">  
         <a href="/offer/create/{{ post.id }}" class="btn btn-danger">Add Offer</a>
         <a href="/post/edit/{{ post.id }}" class="btn btn-secondary">Edit</a>
         <a href="/post/delete/{{ post.id }}" class="btn btn-secondary">Delete</a>
         <hr class="mt-2 mb-1">  
        <p class="m-0 small">{{ post.creationDate|date("m-d-Y") }}</p>
    </div>  

    {% if offers %}
    <h2 class="page-header mb-3 text-center text-white">New Offers</h2>
    <div class=" mx-auto col-sm-12 col-md-8 bg-white rounded p-3 my-3">
        <h4 class="font-weight-bold">Offers</h4>
        <p class="mb-0">
            {% for offer in offers %}
                <div>
                    <a href="{{ url('homepage') }}offer/details/{{ offer.id }}">{{ offer.description }}</a>
                </div>
            {% endfor %}
        </p>
    </div> 
    {% endif %}

</div>
{% endblock %}