
{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    </br>
    {{ form_row(form.companyName) }}
    {{ form_row(form.address) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.url) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit">Register!</button>
{{ form_end(form) }}
{% endblock %}
